:root {
    --bgjoxtax: url(/img/joxtaxcity.png);
    --navtransparente: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgb(30, 39, 46, 0.2), rgb(0, 0, 0, .1));
    --linea3d: 2px 2px 5px #000;
    --degradadoperron: linear-gradient(to right, rgb(0, 0, 0, .95), rgb(30, 39, 46), rgb(0, 0, 0, .95));
    --azonix: url(../Fuentes/Azonix.otf);
    --bgsection: url(../img/ladrilloperron.png);
    --DegreeOrange: linear-gradient(to top, rgb(0, 0, 0, .7),rgb(30, 39, 46, 0.5));
    --city: url(../img/city.png);
    --bgfooter: url(../img/negroperron.png);
}

@font-face {
font-family: "azonix";
src: url(../Fuentes/Azonix.otf);
}

.fija {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    height: auto;
    z-index: 10000;
    }

.navbar {
    box-shadow: var(--linea3d);
    background: var(--navtransparente);
}


.navbar .nav-item .nav-link {
    color: white;
}


.main-header {
    background-image: var(--bgjoxtax);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}



.solidoperron {
    position: relative;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(30, 39, 46), rgb(0, 0, 0));
    top: 0;
    left: 0;
    width: 100%;
    Height: 100%;
   

}

.color {
    background: rgb(30, 39, 46) ;
}

.target {
    background: linear-gradient(to bottom, white, rgb(220, 220, 220) );
}

.azonix {
    font-family: "azonix";
    src: var(--azonix);
}

.parallax {
    background: var(--bgsection);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
}

.top-nav-collapse {
    box-shadow: var(--linea3d);
    opacity: 1;
    background: var(--degradadoperron) !important;
}

#corrido h1 {
    display:inline;
}

.degreeOrange {
    background: var(--DegreeOrange);
}

.city {
    background: var(--city);
    background-position: center;
    background-size: cover;
   padding-bottom: 50px;
    background-attachment: fixed;
}

/* #dd2c00   color deep orange*/

.cardOrange{
    background: var(--DegreeOrange) !important;
    color: white !important;
}
.card .card-header h5 button{
    color: white !important;
}

footer {
    background: var(--bgfooter);
}

